<!--The content below is only a placeholder and can be replaced.-->

                  <h1>{{welcome}}</h1>
                <table class="table">
                    <tr>
                        <th>S.no</th>
                          <th>Product_Code</th> 
                        <th>Product_Name</th>
                        <th>Product_Price</th>
                        <th>Product_Gst</th>
                       
                        <th>Product_quantity </th>
                        <th>Total    </th>
                    </tr>
                         <tr *ngFor="let product_name of products; let i = index">
                          <td>{{i + 1}}</td>
                            <td>{{product_name.product_code}}</td>
                           <td>{{product_name.product_name}}</td>
                           <td>{{product_name.product_price}}</td>
                        <td>{{product_name.product_price*(product_name.product_gst/100)}}</td>
                      
                        <td><input ng-blur="count = count + 1" ng-init="count=0">
                        {{count}}</td>
                           <td>{{product_name.product_price+product_name.product_price}}</td>  
                         </tr>
                          <tr>
                             <td colspan="6" class="tt">Total number of Products</td>
                            <td></td>
                          </tr>
                          <tr>
                             <td colspan="6" class="tt">Total price</td>
                            <td></td>
                          </tr>
                          
                </table>
                    

 <!--
<a routerLink="/c1">member</a>
<br>
<router-outlet></router-outlet>
-->